In [1]:
import pandas as pd
import numpy as np

In [3]:
df_wind_data = pd.read_csv("T1.csv")
df_wind_data

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [ ]:
wind_data_np = np.genfromtxt("T1.csv", delimiter = ',', skip_header = 1, autostrip= True)
wind_data_np

In [5]:
df_wind_data['new_date'] = pd.to_datetime(df_wind_data['Date/Time'], format="%d %m %Y %H:%M")
df_wind_data.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),new_date
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904,2018-01-01 00:00:00
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113,2018-01-01 00:10:00
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789,2018-01-01 00:20:00
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087,2018-01-01 00:30:00
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286,2018-01-01 00:40:00

In [7]:
df_checkpoint = df_wind_data.copy()

In [9]:
df_checkpoint

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),new_date
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904,2018-01-01 00:00:00
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113,2018-01-01 00:10:00
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789,2018-01-01 00:20:00
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087,2018-01-01 00:30:00
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286,2018-01-01 00:40:00
...,...,...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724,2018-12-31 23:10:00
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599,2018-12-31 23:20:00
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500,2018-12-31 23:30:00
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913,2018-12-31 23:40:00
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620,2018-12-31 23:50:00

In [11]:
df_checkpoint.columns.values

array(['Date/Time', 'LV ActivePower (kW)', 'Wind Speed (m/s)',
       'Theoretical_Power_Curve (KWh)', 'Wind Direction (°)', 'new_date'],
      dtype=object)

In [13]:
df_checkpoint = df_checkpoint.drop(['Date/Time'],axis = 1)
df_checkpoint.head()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),new_date
0,380.047791,5.311336,416.328908,259.994904,2018-01-01 00:00:00
1,453.769196,5.672167,519.917511,268.641113,2018-01-01 00:10:00
2,306.376587,5.216037,390.900016,272.564789,2018-01-01 00:20:00
3,419.645905,5.659674,516.127569,271.258087,2018-01-01 00:30:00
4,380.650696,5.577941,491.702972,265.674286,2018-01-01 00:40:00

In [15]:
column_names_ordered = ['new_date', 'LV ActivePower (kW)', 'Wind Speed (m/s)',
       'Theoretical_Power_Curve (KWh)', 'Wind Direction (°)']
column_names_ordered

['new_date',
 'LV ActivePower (kW)',
 'Wind Speed (m/s)',
 'Theoretical_Power_Curve (KWh)',
 'Wind Direction (°)']

In [17]:
df_checkpoint = df_checkpoint[column_names_ordered]
df_checkpoint

,new_date,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620

In [19]:
df_checkpoint['month'] = df_checkpoint['new_date'].dt.month

In [23]:
df_checkpoint

,new_date,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),month
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904,1
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113,1
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789,1
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087,1
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286,1
...,...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724,12
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599,12
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500,12
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913,12
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620,12

In [25]:


# Mevsimleri belirleyen fonksiyon
df_checkpoint['season'] = ((df_checkpoint['month'] - 3) % 12) // 3
df_checkpoint

# Aylara göre sezon sütunu ekle

,new_date,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),month,season
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904,1,3
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113,1,3
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789,1,3
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087,1,3
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286,1,3
...,...,...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724,12,3
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599,12,3
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500,12,3
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913,12,3
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620,12,3

In [27]:
df_reordered = df_checkpoint.copy()

In [29]:
df_reordered[15000:29000]

,new_date,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),month,season
15000,2018-04-19 18:30:00,3582.375000,12.221830,3552.308292,45.491951,4,0
15001,2018-04-19 18:40:00,3260.653076,11.814310,3490.075612,46.938019,4,0
15002,2018-04-19 18:50:00,3038.267090,11.922940,3509.455494,52.019371,4,0
15003,2018-04-19 19:00:00,3376.780029,12.215970,3551.610829,47.324421,4,0
15004,2018-04-19 19:10:00,3400.518066,12.043750,3528.589840,47.241428,4,0
...,...,...,...,...,...,...,...
28995,2018-07-26 14:00:00,179.059204,4.478740,217.513230,47.947090,7,1
28996,2018-07-26 14:10:00,225.323898,4.589764,241.245319,32.043751,7,1
28997,2018-07-26 14:20:00,139.591293,4.253650,171.596703,30.307289,7,1
28998,2018-07-26 14:30:00,66.500931,3.626801,67.487993,45.778660,7,1
28999,2018-07-26 14:40:00,101.386597,4.089091,139.719526,54.812382,7,1

In [31]:
column_names_ordered = ['new_date','season','month', 'Wind Direction (°)','Wind Speed (m/s)',
       'Theoretical_Power_Curve (KWh)','LV ActivePower (kW)']
column_names_ordered

['new_date',
 'season',
 'month',
 'Wind Direction (°)',
 'Wind Speed (m/s)',
 'Theoretical_Power_Curve (KWh)',
 'LV ActivePower (kW)']

In [33]:
df_reordered = df_reordered[column_names_ordered]

In [35]:
df_reordered

,new_date,season,month,Wind Direction (°),Wind Speed (m/s),Theoretical_Power_Curve (KWh),LV ActivePower (kW)
0,2018-01-01 00:00:00,3,1,259.994904,5.311336,416.328908,380.047791
1,2018-01-01 00:10:00,3,1,268.641113,5.672167,519.917511,453.769196
2,2018-01-01 00:20:00,3,1,272.564789,5.216037,390.900016,306.376587
3,2018-01-01 00:30:00,3,1,271.258087,5.659674,516.127569,419.645905
4,2018-01-01 00:40:00,3,1,265.674286,5.577941,491.702972,380.650696
...,...,...,...,...,...,...,...
50525,2018-12-31 23:10:00,3,12,80.502724,11.404030,3397.190793,2963.980957
50526,2018-12-31 23:20:00,3,12,84.062599,7.332648,1173.055771,1684.353027
50527,2018-12-31 23:30:00,3,12,84.742500,8.435358,1788.284755,2201.106934
50528,2018-12-31 23:40:00,3,12,84.297913,9.421366,2418.382503,2515.694092
50529,2018-12-31 23:50:00,3,12,82.274620,9.979332,2779.184096,2820.466064

In [37]:
df_ready = df_reordered.copy()

In [39]:
df_ready.to_csv("T1_cleaned.csv", index = False)

In [41]:
df_yeni = df_ready.copy()

In [43]:
df_yeni = pd.read_csv("T1_cleaned.csv",parse_dates=["new_date"])
df_yeni

,new_date,season,month,Wind Direction (°),Wind Speed (m/s),Theoretical_Power_Curve (KWh),LV ActivePower (kW)
0,2018-01-01 00:00:00,3,1,259.994904,5.311336,416.328908,380.047791
1,2018-01-01 00:10:00,3,1,268.641113,5.672167,519.917511,453.769196
2,2018-01-01 00:20:00,3,1,272.564789,5.216037,390.900016,306.376587
3,2018-01-01 00:30:00,3,1,271.258087,5.659674,516.127569,419.645905
4,2018-01-01 00:40:00,3,1,265.674286,5.577941,491.702972,380.650696
...,...,...,...,...,...,...,...
50525,2018-12-31 23:10:00,3,12,80.502724,11.404030,3397.190793,2963.980957
50526,2018-12-31 23:20:00,3,12,84.062599,7.332648,1173.055771,1684.353027
50527,2018-12-31 23:30:00,3,12,84.742500,8.435358,1788.284755,2201.106934
50528,2018-12-31 23:40:00,3,12,84.297913,9.421366,2418.382503,2515.694092
50529,2018-12-31 23:50:00,3,12,82.274620,9.979332,2779.184096,2820.466064

In [45]:
df_yeni.set_index("new_date", inplace = True)

In [47]:
df_yeni.describe()

,season,month,Wind Direction (°),Wind Speed (m/s),Theoretical_Power_Curve (KWh),LV ActivePower (kW)
count,50530.000000,50530.000000,50530.000000,50530.000000,50530.000000,50530.000000
mean,1.460281,6.507956,123.687559,7.557952,1492.175463,1307.684332
std,1.121723,3.409312,93.443736,4.227166,1368.018238,1312.459242
min,0.000000,1.000000,0.000000,0.000000,0.000000,-2.471405
25%,0.000000,4.000000,49.315437,4.201395,161.328167,50.677890
50%,1.000000,6.000000,73.712978,7.104594,1063.776283,825.838074
75%,2.000000,9.000000,201.696720,10.300020,2964.972462,2482.507568
max,3.000000,12.000000,359.997589,25.206011,3600.000000,3618.732910

In [49]:
df_yeni.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 50530 entries, 2018-01-01 00:00:00 to 2018-12-31 23:50:00
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   season                         50530 non-null  int64
 1   month                          50530 non-null  int64
 2   Wind Direction (°)             50530 non-null  float64
 3   Wind Speed (m/s)               50530 non-null  float64
 4   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 5   LV ActivePower (kW)            50530 non-null  float64
dtypes: float64(4), int64(2)
memory usage: 2.7 MB